.ipl-detail-block__poster {
  width: 55px !important;
}

.ipl-detail-block__title {
  font-size: 15px !important;
  color: #F7F7F7 !important;
}

.lister-list .list-item-block-link {
  background-color: #365A66;
  color: #F7F7F7;
  padding: 1px 8px;
}
