@media screen and (min-width: 700px) {
  
  .left {
    flex-direction: column;
    height: 1850px;
/*     align-items: flex-start; */
  }

  .projects {
    order: 1;
    width: 66.6%;
  }

  .projects .projects-container {
    text-align: left;    
  }

  .projects .project {
    width: 47%;
  }

  .projects .project a:nth-child(2) {
    text-align: center;
  }

  .upper-activities {
    order: 2;
    width: 33.3%;
/*     flex-shrink: -1; */
  }

  .lower-activities {
    order: 3;
    width: 33.3%;
    
  }

  .right {
    width: 100%;
    overflow: auto;
    background-color: yellow;
  }

  .upper-social {
    width: 50%;
    float: left;
  }

  .lower-social {
    width: 50%;
    float: left;
  }

/*   .right::after {
    content: ".";
    visibility: hidden;
    height: 0;
     display: block; 
  } */

}






@media screen and (min-width: 900px){



}
